@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Play Fair', sans-serif;
}

ul,li {
    list-style: none;
}

#menu-list {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.left {
    position: relative;
    top: 60px;
}

.left p {
    width: 60%;
    text-align: justify;
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 15px 0;
    text-align: center;
    z-index: 999;
}

.header a {
    color: black;
    text-decoration: none;
    margin-right: 70px;
    transition: 0.3s ease-in-out;
}

.header a {
    position: relative;
    color: #484848;
    font-size: 1 rem;
    text-decoration: none;
}

.header a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    background-color: rgb(8, 8, 8);
}

.header a:hover:before {
    width: 100%;
}

.header a::before {
    transition: width 0.3s;
}

.container {
    margin-left: 100px;
    margin-right: 50px;
}

.main {
    background-image: url('img/main1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: rgb(5, 9, 10);
    height: 100vh;
    display: flex;
    align-items: center;
}

.main h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
}

.main p {
    margin-bottom: 60px;
    font-size: 47px;
    font-weight: 300;
}

.main-button {
    border: 2px solid black;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 45px;
    transition: 0.3s ease-in-out;
    border-radius: 30px;

}

.main-button:hover {
    background-color: #000000;
    color: rgb(241, 241, 245);
}

.about {
    height: 100vh;
    display: flex;
    align-items: center;
}

.about h2 {
    color: #000000;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: -50px;
    margin-top: 250px
    
}

.right {
    text-align: right;
}

.about img {
    width: 140%;
    margin-bottom: 380px;
    margin-left: -190px;
    padding-right: 60px;


}


.about p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 60px;


}
.skincare {
    height: 100vh;
    display: flex;
    align-items: center;

}

.skincare h2{
    color: #000000;
    font-size: 55px;
    font-weight: 700;
    padding-bottom: 100px;
    margin-bottom: -60px;
}
.skincare img { 
    width: 170%;
    margin-bottom: 500px;
    margin-left: -190px;
    padding-right: 60px;
    margin-top: -60px;
}
.skincare p {
    text-align: justify;
    font-size: 22px;
    font-weight: 500;
    margin-top: -80px;
    margin-bottom: 400px;
}

.contacts {
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
}

.contacts h2 {
color: #000000;
    font-size: 55px;
    font-weight: 700;

    
    
}
.contacts img {
    width: 25%;
 
}

.contacts p {
    text-align: justify;
    font-size: 22px;
    font-weight: 500;

}
.contacts-button {
    border: 2px solid black;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 45px;
    transition: 0.3s ease-in-out;
    border-radius: 30px;
}
    
.contacts-button:hover {
    background-color: #000000;
    color: rgb(241, 241, 245);
}


.burger-menu-button {
    display: none;
}

@media screen and (max-width: 700px) {
    .menu {
        display: none;
    }

    .burger-menu-button {
        display: block;
    }

    .main, .about {
        display: block;
        height: 100%;
        background-attachment: local;
        padding: 90px 0;
        text-align: center;

    }

    .main h1,
    .about h2 {
        font-size: 30px;
    }
    .about h2 {
        margin-top: -10%;
        padding-bottom: 20%;
    }

    .main p {
        font-size: 10px;
    }

    .flex-container {
        flex-direction: column;
    }

    .left p {
        font-size: 18px;
        width: 100%;
        margin-bottom: 70px;
    }

    .right {
        text-align: left;
    }

    .about img {
        width: 100%;
        margin-left: 1%;
    }

    .left {
        position: static;
    }
    .skincare h2 {
        margin-bottom: 20%;
    }
    .skincare img {
        width: 100% ;
        margin-left: 1%;
    }
}
    .contacts img {
        margin-bottom: 130%;
    }
    
    

    
    
